body{
	margin: 0;
	padding: 0;
	font-family: Cambria;
	background-image: url("images/index-background.jpg");
	background-size: cover;
	height: 100%;
	color: #25701d;
}

nav {
	background: rgb(255, 255, 255);
	border-bottom: 0.5px solid gray;
	width: 100%;
	padding-bottom: 1%;
}

#logo {
	float: left;
	display: inline;
}


.navigation {
	list-style-type: none;
	margin: 0px;
}

.navigation li{
	display: inline;
	padding-right: 50px;
	font-family: Cambria;
	font-size: 1.15em;
}

a:link, a:visited {
	color: black;
	text-decoration: none;
}

#index-nav {
	margin-left: 10em;
	
}

#menu-home {
	margin-left: 2em;
}


footer {
	background: rgb(255, 255, 255);
	color: black;
	min-height: 7vh;
	position: absolute;
 	bottom: 0;
 	width: 100%;
}

#copyright {
	margin-left: 1%;
}


#index-main {
	background: rgba(255, 255, 255, 0.95);
    display: block;
    text-align: center;
    width: 50%;
    padding: 3%;
    border-radius: 10px;
    margin-left:22%;
    margin-top: 5%;
}

#About-main, #ContactUs-main {
	background: rgba(255, 255, 255, 0.95);
    display: block;
    width: 81%;
    height: 28.5em;
    padding: 3%;
    border-radius: 10px;
    margin-left: 6.5%;
    margin-top: 1%;
}

#welcome {
	font-size: 2em;
	font-weight: bold;
}

.welcome-text {
	font-size: 1.25em;
}


button {
	border-radius: 10px;
	padding: 10px;
	background-color: #f7d340;
	font-family: Cambria;
	font-weight: bold;
	font-size: 1em;
}


#About-index, #ContactUs-index {
	background: rgba(255, 255, 255, 0.95);
	margin-left: 10%;
	margin-top: 1%;
	width: 81%;
	height: 32em;
	border: 0.5px solid black;
	padding: 1%;

}