#index-main {
	background: rgba(255, 255, 255, 0.95);
    display: block;
    text-align: center;
    width: 50%;
    padding: 3%;
    border-radius: 10px;
    margin-left:22%;
    margin-top: 5%
}

#welcome {
	font-size: 2em;
	font-weight: bold;
}

.welcome-text {
	font-size: 1.25em;
}


button {
	border-radius: 10px;
	padding: 10px;
	background-color: #f7d340;
	font-family: Cambria;
	font-weight: bold;
	font-size: 1em;
}