@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
aside {
	background: rgba(255, 255, 255, 0.95);
	width: 15%;
	height: 34.5em;
	margin-left: 1%;
	margin-top: 1%;
	border: 1px solid black;
	float: left;
}
main {
	background: rgba(255, 255, 255, 0.95);
	margin-left: 18%;
	margin-top: 1%;
	width: 81%;
	height: 34.5em;
	border: 0.5px solid black;
}
aside p {
	font-family: Cambria;
}

#aside_title {
	text-align: center;
	text-decoration: underline;
	font-size: 120%;
}

#categories {
	list-style-type: none;
	font-size: 95%;
	text-decoration: underline;
}
#listings {
	text-align: center;
	font-size: 60%;
	color: black;
}

/*Profile Page*/
*{
  margin: 0;
  padding: 0;
  height:auto;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #green;
}

.wrapper{
  position: absolute;
  top: 35%;
  bottom: 75%;
  left: 50%;
  right: 70%;
  transform: translate(-50%,-50%);
  max-width: 20cm;
  height:auto;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left{
  width: 50%;
  background: linear-gradient(to right,#cbf7c7,#ffeb7a);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: black;
}

.wrapper .left img{
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.wrapper .left h4{
  margin-bottom: 10px;
}

.wrapper .left p{
  font-size: 12px;
}

.wrapper .right{
  width: 85%;
  background: #fff;
  padding: 50px 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 20px;
}

.wrapper .right .info,
.wrapper .right .listings{
  margin-bottom: 50px;
}

.wrapper .right .info h3,
.wrapper .right .listings h3{
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
	  text-transform: uppercase;
	  letter-spacing: 5px;
   
  
}

.wrapper .listings  h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}


.wrapper .right .info_data,
.wrapper .right .listings_data

{
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .listings_data .data{
  width: 45%;
  height:200%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .listings_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
	
}

.wrapper .right .info_data .data p,
.wrapper .right .listings_data .data p{
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
  height:400px;
}

