body, html {
	margin: 0;
	padding: 0;
	background-color: white;
}

nav {
	background-image: linear-gradient(lightgray, #E8E8E8);

	border-bottom: 0.5px solid gray;
	margin-bottom: 20px;
	top: -50px;
}
.navigation {
	list-style-type: none;
	margin: 0px;

}

.navigation li{
	display: inline;
	padding-right: 50px;
	font-family: Cambria;
	font-size: 20px;
}

a:link, a:visited {
	color: black;
	text-decoration: none;
}

#logo {
	float: left;
	display: inline;
}

#searchbox {
	float: left;
	margin-top: 20px;
	margin-left: 60px;
}

#search_bar {
	margin-right: 0px;
	font-size: 20px;
	border-radius: 20px;
}

#menu {
	position: relative;
	left: -9.34%;
	margin-top: 30px;
}

#about {
	margin-left: 1220px;
}

#contact {
}

#icons {
	float: right;
	margin-right: 100px;
}

.fa-search {
	margin-right: 100px;
}

.fa-shopping-cart {
	margin-left: 30px;
}

.fa-user-circle-o {
	margin-left: 30px;
}

#list_book_button {
	border-radius: 4px;
	background-color: green;
	color: gold;
	font-weight: bold;
}

aside {
	width: 200px;
	height: 400px;
	margin-left: 20px;
	border: 0.5px solid black;
	float: left;
}

main {
	margin-left: 250px;
	width: 1150px;
	height: 600px;
	border: none;

}

aside p {
	font-family: Cambria;
}

#aside_title {
	text-align: center;
	text-decoration: underline;
}

footer {
	background-image: linear-gradient(lightgray, #E8E8E8);
	margin-top: 43px;
	min-height: 7vh
}

#copyright {
	margin-left: 5%;
}


/**Checkout page**/
#aside_checkout {
	float: right;
	margin-right: 50px;
	width: 400px;
	height: 600px;
	border: 1px solid black;
}

#main_checkout_frame {
	margin-left: 50px;
	margin-right: 500px;
	height: 600px;
	border: 1px solid black;

}

.cart_item_frame {
	margin: 50px;
	height: 150px;
	border: 1px solid black;
}

#book_image {
	height: 130px;
	padding-left: 10px;
}

.column {
  float: left;
  width: 25%;
  height: 100%;
  padding-top: 10px;
}

.buttons{
	float:right;
	padding-right: 10px;
}

#remove_book{
	float:right;
}

#total_items {
	width: 100%;
	border-spacing: 15px;
}

#total_items th, td {
	padding: 5px;
}

#total_items th {
	text-align: left;
}

footer {
	background-image: linear-gradient(lightgray, #E8E8E8);
	margin-top: 20px;
	margin-bottom: 0px;
	bottom: 0px;
	min-height: 7vh
}

#total_items th {
	text-align: left;
}

/* Registration page */

form {
  max-width: 550px;
  margin: 8px auto;
  margin-right: 350px;
  padding: 8px 15px;
  background: #d3d3d3;
  border-radius: 20px;
  line-height: 2;
  font-family: Cambria;
}

fieldset {
    margin-bottom: 30px;
    border: none;
		padding: 30px;
}

legend {
  display: block;
  margin-bottom: 8px;
}

.section {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

.signup h1 {
  margin-left: 6.5cm;
  font-family: Cambria;
}

input[type="text"], input[type="number"], input[type="password"], input[type="email"] {
	width: 50%; /* Full width */
  padding: 10px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 20px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 1px; /* Add a top margin */
  margin-bottom: 10px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

button[type="submit"] {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

/* When moving the mouse over the submit button, add a yellow color */
button[type=submit]:hover {
  background-color: #FFD700;
}
