body, html {
	margin: 0;
	padding: 0;
	background-color: white;
}
nav {
	background-image: linear-gradient(lightgray, #E8E8E8);
	height: 135px;
	border-bottom: 0.5px solid gray;
	margin-bottom: 20px;
	/*position: fixed;*/
	top: -50px;
}
.navigation {
	list-style-type: none;
	margin: 0px;

}

.navigation li{
	display: inline;
	padding-right: 50px;
	font-family: Cambria;
	font-size: 20px;
}

#search_bar {
	margin-right: 430px;
	font-size: 20px;
}

#about {
	margin-left: 215px;
}

#contact {
	margin-right: 780px;
}

#icons {
	float: right;
	margin-right: 100px;
}

.fa-shopping-cart {
	margin-left: 30px;
}

.fa-user-circle-o {
	margin-left: 30px;
}

#list_book_button {
	border-radius: 4px;
	background-color: green;
	color: gold;
	font-weight: bold;
}

a:link, a:visited {
	color: black;
	text-decoration: none;
}

aside {
	width: 200px;
	height: 400px;
	margin-left: 20px;
	border: 0.5px solid black;
	float: left;
}

main {
	margin-left: 250px;
	width: 1150px;
	height: 600px;
	border: 0.5px solid black;

}

aside p {
	font-family: Cambria;
}

#aside_title {
	text-align: center;
	text-decoration: underline;
}

footer {
	background-image: linear-gradient(lightgray, #E8E8E8);
	margin-top: 20px;
	margin-bottom: 0px;
	bottom: 0px;
	min-height: 7vh
}

